
body {
    margin: 0;
    padding: 0;
    /*background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 35%, rgba(211,211,211,1) 100%);*/
    background-image: url("fondo.png");
    background-size: 100% 100%;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.background {
    background-color: transparent;
    margin: 3%;
}
 
.container {
    align-items: center;
    text-align: center;
    background-color: #3fa7f3;
    border-radius: 40px;
    padding: 20px;
    height: 525px;
}

 
.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}
 
input[type="text"] {
    border-radius: 40px;
    width: 300px;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
}
 
.boton1 {
    padding: 21px 81px;
    color: #fff;
    background-image: url("BOTON_GENERAR.png");
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 20px;
}

.boton2 {
    padding: 20px 72px;
    background-image: url("BOTON_REINICIAR.png");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 20px;
    background-size: cover;

}

.boton3 {
    padding: 21px 72px;
    background-image: url("BOTON_DESCARGAR.png");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 20px;
}
 
.qr-container {
    align-items: center;
    position: relative;
    display: inline-block;
    /*margin: 5%px;*/
    /* Ajuste para la posición absoluta de picCenter */
    position: relative;
}
 
#qrCodeImg {
    align-items: center;
    max-width: 300px;
    height: auto;
}
 
#miCanvas {
    align-items: center;
}
 
.reiniciarContainer{
    margin:-110px;
}
.switch {
    position:relative;
    display: inline-block;
    width: 60px;
    height: 34px;
/*   margin-top: 10px;   */
}
 
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}
 
.slider:before {
    position: absolute;
    content: "no";
    align-content: center;
    height: 33px;
    width: 33px;
    left: -3px;
    bottom: 1px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
    color: #3fa7f3;
}

 
input:checked + .slider {
    background-color: #c5e4fb;
    
}
 
input:focus + .slider {
    box-shadow: 0 0 1px #95999c;
}
 
input:checked + .slider:before {    
    transform: translateX(30px);
    content: "sí";
    
}
 
#switcherContainer {
    text-align: center;
    display: inline-flex;
    margin-right: 70px;
    font-family: 'DIN Next Rounded LT Pro', sans-serif;
    font-weight: bold;
}
 
#switcherContainer .switch {
    display: inline-block;
}
 
#qrContainer {
    position: relative;
    transform: scale(0.7); /* Reduce el tamaño a la mitad */
    top: -50px; /* Mueve el contenedor hacia arriba 50 píxeles */
    padding-bottom: 10px;
}

#switcherContainer p {
    color: white;
    margin: 0; /* Elimina el margen predeterminado del párrafo */
    margin-right: 10px; /* Añade espacio entre el párrafo y el switch */
    margin-left: 65px;
}

#switcherContainer label{
    font-family: 'DIN Next Rounded LT Pro', sans-serif;
    top:-10px;
}
 
#picCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@font-face {
    font-family: 'DIN Next Rounded LT Pro';
    src: url('fonts/DINNextRoundedLTPro-Light.woff2') format('woff2'),
         url('fonts/DINNextRoundedLTPro-Light.woff') format('woff');
    font-weight: 300; /* Light */
    font-style: normal;
}

.urlInput{
    font-family: 'DIN Next Rounded LT Pro', sans-serif;
    font-weight: 300; /* Light */
    font-size: 16px;
    color: #333333;
}

 .contMensaje {
    position: absolute;
    bottom: 0;
    margin-top: 50%;
    
}



@media screen and (max-width: 768px) {
    .container {
      width: 90%; /* Reducir el ancho del contenedor para pantallas más pequeñas */
      margin: 3% auto; /* Reducir los márgenes para pantallas más pequeñas */
      padding: 10px;
      height: 600px;
    }

    .input[type = "text"]{
        width: 80%;
        margin-right: 20px;
        margin-left: 11px;

    }
    
    #logo {
        max-width: 100%;
        width: 100%; /* La imagen ocupará todo el ancho del contenedor */
        height: auto; /* Ajustar la altura automáticamente */
        object-fit:fill; /* Ajustar la imagen dentro del contenedor */
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
        
    }

    #switcherContainer {
        margin-right: 35px;
        
    }

    input[type="text"]{
        margin : 5px;
        
    }

    

    
  }